  html,
  body {
    font-family: 'Roboto', sans-serif;
  }

  .collapsible-body {
    padding: 1rem;
    padding-top: 1px;
    background-color: #fafafa !important;
  }

  .caption {
    font-style: italic;
  }

  .collection-item span.badge {
    margin-top: calc(.75rem - 11px) !important;
  }

  .collection-header,
  .collection-header i {
    font-size: 1.3rem !important;
  }

  .green {
    background-color: #109a5d !important;
  }

  nav .logo {
    margin: 0.8rem;
    height: 40px;
  }

  span.new {
    color: red;
    font-size: 2rem;
    position: absolute;
    margin-left: 0.5rem;
  }