  <ul id="notifs" class="dropdown-content">
    <li><a href="#!">Nouvelle note disponible pour <b>GEN502</b></a></li>
    <li><a href="#!">Nouvelle note disponible pour <b>GEN521</b></a></li>
  </ul>

  <ul id="params" class="dropdown-content">
    <li><a href="#!">Déconnexion</a></li>
  </ul>

  <nav>
    <div class="nav-wrapper green">
      <img class="logo" src="https://www.usherbrooke.ca/res/fileadmin/logo/logo_udes-carre-couleur.png">
      <a href="#" class="brand-logo">Notes pour Bob Testeur</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a>Liste des notes</a></li>
        <li><a class="dropdown-button" href="#!" data-activates="notifs"><i class="material-icons">notifications</i></a></li>
        <li><a class="dropdown-button" href="#!" data-activates="params"><i class="material-icons">settings</i></a></li>
      </ul>
    </div>
  </nav>


  <main>
    <ul class="collapsible" data-collapsible="accordion">
      <li>
        <div class="collapsible-header"><b>GEN 501</b> - Droit (2 cr.)<span class="badge">--/300</span></div>
        <div class="collapsible-body">
          <h3><b></b></h3>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><b>GIF 500</b> - Conception d'un système embarqué et réseauté (3 cr.)<span class="badge">--/300</span></div>
        <div class="collapsible-body">
          <h3><b></b></h3>
        </div>
      </li>
      <li>
        <div class="collapsible-header active"><b>GIF 510</b> - Systèmes à microprocesseurs (2 cr.)<span class="new">&bull;</span><span class="badge">387/540 (72%)</span></div>
        <div class="collapsible-body active grey lighten-5">
          <blockquote class="caption">
            Exploiter une carte comportant un microcontrôleur et des circuits d'entrée/sortie en utilisant la documentation technique
            des composants et des logiciels qui la constituent; développer et mettre au point un logiciel sur un système
            embarqué en utilisant des outils de développement croisés.
          </blockquote>


          <div class="row">
            <div class="col s12 m6">
              <ul class="collection with-header">
                <li class="collection-header">
                  <b>Compétence 1</b> <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Exploiter une carte comportant un microcontrôleur et des circuits d'entrée-sortie en utilisant la documentation
            technique des composants et des logiciels qui la constituent.">info_outline</i>
                </li>
                <li href="#!" class="collection-item"><a href="#">Rapport de l'APP 1</a><span class="badge tooltipped" data-position="left" data-tooltip="Moyenne: 30, Écart-type: 8">35/40 (<b>88%</b>)</span></li>
                <li href="#!" class="collection-item"><a href="#">Examen sommatif de l'APP 1</a><span class="badge tooltipped" data-position="left" data-tooltip="Moyenne: 85, Écart-type: 14">90/100 (<b>90%</b>)</span></li>
                <li href="#!" class="collection-item"><a href="#">Examen Final</a><span class="badge tooltipped" data-position="left" data-tooltip="Moyenne: 82, Écart-type: 16">85/100 (<b>85%</b>)</span></li>
              </ul>
            </div>

            <div class="col s12 m6">
              <ul class="collection with-header">
                <li class="collection-header">
                  <b>Compétence 2</b> <i class="material-icons tooltipped" data-position="bottom" data-tooltip="Développer et mettre au point un logiciel sur un système embarqué en utilisant des outils de développement croisés.">info_outline</i>
                </li>
                <li href="#!" class="collection-item"><a href="#">Rapport de l'APP 1</a><span class="badge tooltipped" data-position="left" data-tooltip="Moyenne: 32, Écart-type: 10">35/40 (<b>87%</b>)</span></li>
                <li href="#!" class="collection-item"><a href="#">Examen sommatif de l'APP 1</a><span class="badge tooltipped" data-position="left" data-tooltip="Moyenne: 68, Écart-type: 22">70/80 (<b>88%</b>)</span></li>
                <li href="#!" class="collection-item"><a href="#">Rapport de l'APP 2</a><span class="badge tooltipped" data-position="left" data-tooltip="Moyenne: 15, Écart-type: 4">12/20 (<b>60%</b>)</span></li>
                <li href="#!" class="collection-item"><a href="#">Examen sommatif de l'APP 2</a><span class="badge tooltipped" data-position="left" data-tooltip="Moyenne: 55, Écart-type: 8">60/60 (<b>100%</b>)<span class="new">&bull;</span></span></li>
                <li href="#!" class="collection-item"><a href="#">Examen Final</a><span class="badge tooltipped" data-position="left" data-tooltip="Moyenne: 82, Écart-type: 14">--/100</span></li>
              </ul>
            </div>
          </div>






        </div>
      </li>
      <li>
        <div class="collapsible-header"><b>GIF 521</b> - Propriétés des matériaux (2 cr.)<span class="badge">--/300</span></div>
        <div class="collapsible-body">
          <h3><b></b></h3>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><b>GIF 530</b> - Circuits d'entrées/sorties et d'interfaces (1 cr.)<span class="badge">--/300</span></div>
        <div class="collapsible-body">
          <h3><b></b></h3>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><b>GIF 540</b> - Noyaux temps réel et programmation concurrente (2 cr.)<span class="badge">--/300</span></div>
        <div class="collapsible-body">
          <h3><b></b></h3>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><b>GIF 550</b> - Systèmes embarqués réseautés (1 cr.)<span class="badge">--/300</span></div>
        <div class="collapsible-body">
          <h3><b></b></h3>
        </div>
      </li>
      <li>
        <div class="collapsible-header"><b>GIF 560</b> - Statistiques et fiabilité des systèmes (2 cr.)<span class="badge">--/300</span></div>
        <div class="collapsible-body">
          <h3><b></b></h3>
        </div>
      </li>
    </ul>

  </main>