i {
    font-size: 1.3rem !important;
}

.collection-header {
    font-size: 1.3rem !important;

    .badge {
        margin-top: 5px;
    }
}

.collection-item {
    span.badge {
        margin-top: calc(.75rem - 11px) !important;
    }
}

.marginBotton {
    margin-bottom: 8px;
}

.material-icons.new {
    color: #596b6b;
}