.collection-header {
    font-size: 1.3rem !important;

    .badge {
        margin-top: 5px;
    }
    i {
        font-size: 1.3rem !important;
    }
}

.collection-item {
    span.badge {
        margin-top: calc(.75rem - 11px) !important;
    }
}