i {
    font-size: 1.3rem !important;
}

.collection-header {
    font-size: 1.3rem !important;

    .badge {
        margin-top: 5px;
    }
}

.collection-item {
    span.new {
        color: red;
        font-size: 2rem;
        position: absolute;
        margin-left: 0.5rem;
    }

    span.badge {
        margin-top: calc(.75rem - 11px) !important;
    }
}

.marginBotton {
    margin-bottom: 8px;
}