.collection-header,
.collection-header i {
    font-size: 1.3rem !important;
}

.collection-header .badge {
    margin-top: 5px;
}

.collection-item span.badge {
    margin-top: calc(.75rem - 11px) !important;
}