.modal-content {

    padding: 24px 24px 0px 24px;

    .modal-header {
        overflow: hidden;

        .note-global {
            font-size: 1.55rem
        }
    }

    .collection-item {
        font-size: 1rem !important;

        span.badge {
            margin-top: 5px;
        }

        i {
            font-size: 16px;
            margin-left: 0.5rem;
        }
    }
}