<div *ngIf="evaluation" id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeActions]="modalActions">
    <div class="modal-content">
        <div class="modal-header">
            <h4>{{ evaluation.titre }}
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: 60/80; Écart-type: 5'"
                    class="right">
                    105/120 (<b>90%</b>)
                </span>
            </h4>
        </div>
        <ul *ngFor="let apCode of evaluation.associatedAps | keys" class="collection with-header">
            <li class="collection-header">
                <b>{{ apCode }}</b> - {{ getSelectedAp(apCode).titre }}
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: 62/80; Écart-type: 4'" class="right">
                    70/80 (<b>88%</b>)
                </span>
            </li>
            <li *ngFor="let note of evaluation.associatedAps[apCode]" class="collection-item">
                <b>Compétence {{ note.competenceNumero }}<i materialize="tooltip" data-delay="50" class="material-icons" data-position="bottom" [attr.data-tooltip]="getCompetenceDescription(apCode, note.competenceNumero)">info_outline</i></b>
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: ' + note.moyenne + ' Écart-type: ' + note.ecartType">
                    {{ note.note }}/{{ note.ponderation }} <b>({{ (note.note/note.ponderation) * 100 }}%)</b>
                </span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green btn-flat" (click)="hide()">OK</a>
    </div>
</div>