<ul materialize="collapsible" class="collapsible" data-collapsible="accordion">
  <li *ngFor="let ap of apList">
    <div class="collapsible-header">
      <b>{{ap.code}}</b> - {{ap.titre}} ( {{ap.credit}} cr.)
      <span class="badge">{{ ap | getApTotal:notes }}</span>
    </div>
    <div class="collapsible-body active grey lighten-5">
      <blockquote *ngIf="ap.description" class="caption">
        {{ap.description}}
      </blockquote>

      <div class="row">
        <div *ngFor="let competence of ap.competences" class="col s12 m6">
          <ul class="collection with-header">
            <li class="collection-header">
              <b>Compétence {{competence.numero}}</b> <i *ngIf="competence.description" materialize="tooltip" data-delay="50"
                class="material-icons tooltipped" data-position="bottom" [attr.data-tooltip]="competence.description">info_outline</i>
            </li>
            <ng-container *ngFor="let note of notes">
              <li *ngIf="note.competence == competence.numero && note.ap == ap.code" href="#!" class="collection-item">
                <a href="#">{{note.titre}}</a>
                <span *ngIf="note.note; else elseBlock" materialize="tooltip" data-delay="50" class="badge tooltipped" data-position="left" [attr.data-tooltip]="'Moyenne: ' + note.moyenne + ' Écart-type: ' + note.ecartType">{{note.note}}/{{note.ponderation}}
                  <b>({{(note.note / note.ponderation) * 100}}%)</b></span><ng-template #elseBlock><span class="badge tooltipped" data-position="left">--/{{note.ponderation}}</span></ng-template>
              </li>
            </ng-container>
          </ul>
        </div>
      </div>
    </div>
  </li>
</ul>