.collapsible-body {
    padding: 1rem;
    padding-top: 1px;
    background-color: #fafafa !important;
}

.caption {
    font-style: italic;
}

.margins {
    margin: 15px;
}

.progress {
    background-color: #dedede;
    .user-progress {
        background-color: #00a5ff;
    }

    .ap-progress {
        background-color: #00e07d;
    }
}

