nav {
    transition: height 0.35s ease-in-out;
    input, i {
        transition: opacity 0.25s ease-in-out;
    }

    &.hidden {
        height: 0;
        input, i {
            opacity: 0;
        }
    }
}


.collapsible {
    margin: 15px;

    .collapsible-header {
        .badge.blue-badge {
            background-color: #2196F3;
            color: white;
            font-weight: 300;
            font-size: 0.8rem;
            margin-left: 0.5rem;
            border-radius: 2px;
        }
        
        .new {
            color: red;
            font-size: 2rem;
            position: absolute;
            margin-left: 0.5rem;
        }
    }

    .collapsible-body {
        padding: 1rem;
        padding-top: 1px;
        background-color: #fafafa !important;

        .caption {
            font-style: italic;
        }
    }
}

.progress {
    background-color: #dedede;
    margin: 0 0 1rem 0;
    height: 5px;

    .bareme-progress {
        background-color: red;
        $barem-width: 0.5rem;
        width: $barem-width;
        margin-left: -$barem-width;
    }

    .user-progress {
        background-color: #416c58;
        pointer-events: none;
    }

    .ap-progress {
        background-color: #92b3a4;
    }
}

