<nav [class.hidden]="!global.showSearchBar">
  <div class="nav-wrapper green">
    <div class="input-field">
      <input class="hide-on-med-and-down" id="search" type="search" [(ngModel)]="searchText" (ngModelChange)="searchTextChanged($event)" placeholder="Recherche (code ou titre de l'AP, compétence, évaluation)">
      <input class="hide-on-large only" id="search" type="search" [(ngModel)]="searchText" (ngModelChange)="searchTextChanged($event)" placeholder="AP, compétence, évaluation">
      <label class="label-icon" for="search"><i class="material-icons">search</i></label>
      <i (click)="global.searchValue = '';global.showSearchBar = false;" class="material-icons">close</i>
    </div>
  </div>
</nav>

<div class="note-wrapper">
  <!--Check if apList exists-->
  <ng-container *ngIf="global.apList?.length > 0">
    <!--Apply pipes of apList-->
    <ng-container *ngIf="global.apList | filterAps:global.searchValue:global.evaluations | withApStats:global.evaluations; let apList">
      <!--Display filtered Aps-->
      <ul *ngIf="apList.length > 0" materialize="collapsible" class="collapsible" data-collapsible="expandable">
        <li *ngFor="let ap of apList">
          <div class="collapsible-header waves-effect">
            <div class="apTitle">
              <b>{{ ap.apCode }}</b>
              -
              <span class="hide-on-med-and-down">{{ ap.titre }} ({{ ap.credit }} cr.)</span>
              <span class="hide-on-large-only">{{ ap.credit }} cr.</span>
              <span *ngIf="ap.stats.remaining > 0" class="badge blue-badge">Points à combler: {{ ap.stats.remaining }}</span>
              <span class="badge no-left-margin">{{ ap.stats.string }}</span>
              <span class="new" *ngIf="ap | hasNewEvaluation:global.evaluations">&bull;</span>
            </div>
            <div class="progress">
              <div class="ap-progress determinate" [style.width]="ap.stats.remainingPercent" [attr.data-tooltip]="ap.stats.string" materialize="tooltip"
                data-delay="30" data-position="top"></div>
              <div class="user-progress determinate" [style.width]="ap.stats.percent"></div>
              <div class="bareme-progress determinate" [style.left]="ap.bareme+'%'" [attr.data-tooltip]="'Barème: '+ap.bareme+'%'" materialize="tooltip"
                data-delay="30" data-position="top"></div>
            </div>
          </div>

          <div class="collapsible-body active grey lighten-4">
            <p class="hide-on-large-only"><b>{{ ap.titre }}</b></p>
            <blockquote class="caption">
              {{ ap.description }}
            </blockquote>

            <app-ap-competences [ap]="ap" (onRequestNoteModal)="noteModal.show($event)"></app-ap-competences>
          </div>
        </li>
      </ul>

      <div *ngIf="apList.length == 0" class="container">
        <br>
        <p class="center-align">Aucune activité pédagogique notes ne correspond aux critères recherchés.</p>
      </div>
    </ng-container>
  </ng-container>

  <!--When loading notes-->
  <loading *ngIf="global.apList == undefined"></loading>

  <!--When api call failed-->
  <div *ngIf="global.apList?.length == 0" class="container">
    <br>
    <h5>Un problème est survenu lors de la récupération de vos notes.</h5>
    <p>Veuillez réessayer plus tard.</p>
  </div>
</div>

<app-note-modal></app-note-modal>