nav {
    transition: height 0.35s ease-in-out;
    input, i {
        transition: opacity 0.25s ease-in-out;
    }

    &.hidden {
        height: 0;
        input, i {
            opacity: 0;
        }
    }
}

.collapsible {
    margin: 15px;

    .collapsible-header {
        .badge.blue-badge {
            background-color: #2196F3;
            color: white;
            font-weight: 300;
            font-size: 0.8rem;
            margin-left: 0.5rem;
            border-radius: 2px;
        }
        
        .material-icons.new {
            color: #596b6b;
        }
    }

    .collapsible-body {
        padding: 1rem;
        padding-top: 1px;
        background-color: #fafafa !important;

        .caption {
            margin-top: 10px;
            font-style: italic;
        }
    }

    .no-left-margin {
        margin-left: 0;
    }
}

.progress {
    background-color: #dedede;
    margin: 0 0 1rem 0;
    overflow: visible;   
    height: 6px; 

    .bareme-progress {
        background-color: red;
        $barem-width: 0.25rem;
        width: $barem-width;
        margin-left: -$barem-width;
        margin-top: -4px;
        height: 14px;
    }

    .user-progress {
        background-color: #109a5d;
        pointer-events: none;
    }

    .ap-progress {
        background-color: #9dbdaf;
    }
}

.apTitle {
    overflow: auto;
}