<ul materialize="collapsible" class="collapsible margins" data-collapsible="accordion">
  <li *ngFor="let ap of global.apList">

    <div *ngIf="ap | getApStats:global.evaluations; let apStats" class="collapsible-header waves-effect">
      <b>{{ ap.apCode }}</b> - {{ ap.titre }} ({{ ap.credit }} cr.)
      <span class="badge blue-badge">Points à combler: {{ apStats.remaining }}</span>
      <span class="badge">{{ apStats.string }}</span>

      <div class="progress">
        <div class="ap-progress determinate" [style.width]="apStats.remainingPercent" [attr.data-tooltip]="apStats.string" materialize="tooltip" data-delay="30" data-position="top"></div>
        <div class="user-progress determinate" [style.width]="apStats.percent"></div>
        <div class="bareme-progress determinate" style="left: 50%" data-tooltip="Barème: 50%" materialize="tooltip" data-delay="30" data-position="top"></div>
      </div>
    </div>

    <div class="collapsible-body active grey lighten-4">
      <blockquote *ngIf="ap.description" class="caption">
        {{ ap.description }}
      </blockquote>

      <app-ap-competences [ap]="ap" (onRequestNoteModal)="noteModal.show($event)"></app-ap-competences>
    </div>
  </li>
</ul>

<app-note-modal></app-note-modal>