<div id="modal1" class="modal modal-fixed-footer" materialize="modal" [materializeParams]="[{dismissible: false}]" [materializeActions]="modalActions">
    <div class="modal-content">
        <div class="modal-header">
            <h4>Rapport de l'APP1
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: 60/80; Écart-type: 5'"
                    class="right">
                    105/120 (<b>90%</b>)
                </span>
            </h4>
        </div>
        <ul class="collection with-header">
            <li class="collection-header">
                <b>GIF 530</b> - Circuits d'entrées/sorties et d'interfaces (1 cr.)
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: 62/80; Écart-type: 4'" class="right">
                    70/80 (<b>88%</b>)
                </span>
            </li>
            <li class="collection-item">
                <b>Compétence 1 <i materialize="tooltip" data-delay="50" class="material-icons" data-position="bottom" [attr.data-tooltip]="'description...'">info_outline</i></b>
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: 32/40; Écart-type: 4'">
                    35/40 (<b>85%</b>)
                </span>
            </li>
            <li class="collection-item">
                <b>Compétence 2 <i materialize="tooltip" data-delay="50" class="material-icons" data-position="bottom" [attr.data-tooltip]="'description...'">info_outline</i></b>
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: 32/40; Écart-type: 4'">
                    35/40 (<b>85%</b>)
                </span>
            </li>
        </ul>
        <ul class="collection with-header">
            <li class="collection-header">
                <b>GIF 550</b> - Systèmes embarqués réseautés
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: 33/40; Écart-type: 5'" class="right">
                    35/40 (<b>88%</b>)
                </span>
            </li>
            <li class="collection-item">
                <b>Compétence 1 <i materialize="tooltip" data-delay="50" class="material-icons" data-position="bottom" [attr.data-tooltip]="'description...'">info_outline</i></b>
                <span materialize="tooltip" data-delay="50" class="badge" data-position="left" [attr.data-tooltip]="'Moyenne: 12/40; Écart-type: 4'">
                    35/40 (<b>85%</b>)
                </span>
            </li>
        </ul>
    </div>
    <div class="modal-footer">
        <a class="waves-effect waves-green btn-flat" (click)="modalClose()">OK</a>
    </div>
</div>