<!--Notifications-->
<ul id="notifs" class="dropdown-content">
  <li *ngFor="let nouvelle of global.nouvelles">
    <a [routerLink]="'/note/'+nouvelle.nomEvaluation">{{nouvelle.description}}</a>
  </li>
  <li *ngIf="global.nouvelles?.length == 0">
    <a class="grey-text">Aucune nouvelle notification</a>
  </li>
</ul>

<!--Parameters dropdown-->
<ul id="params" class="dropdown-content">
  <li><a (click)="logout()"><i class="material-icons">exit_to_app</i>Déconnexion</a></li>
  <li *ngIf="isDevEnv" class="divider"></li>
  <li *ngIf="isDevEnv">
    <a href="http://materializecss.com/" target="_blank"><i class="material-icons">dashboard</i>Materialize CSS</a>
  </li>
</ul>

<!--Left slide menu for smaller devices-->
<ul id="slide-out" class="side-nav">
  <li *ngIf="global.user">
    <div class="userView">
      <div class="background green">
        <img src="assets/img/menu-bg.png">
      </div>
      <span class="white-text name">{{ global.user.fullName }}</span>
      <span class="white-text email">{{ global.user.email }}</span>
    </div>
  </li>
  <li *ngIf="isDevEnv">
    <a href="http://materializecss.com/" target="_blank"><i class="material-icons">dashboard</i>Materialize CSS</a>
  </li>
  <li *ngIf="isDevEnv" class="divider"></li>

  <!--Notifications-->
  <li><a class="subheader">
    <i class="material-icons">{{ global.nouvelles?.length > 0 ? 'notifications' : 'notifications_none' }}</i>Nouvelles</a>
  </li>
  <li *ngFor="let nouvelle of global.nouvelles">
    <a [routerLink]="'/note/'+nouvelle.nomEvaluation" class="waves-effect notification truncate" [title]="nouvelle.description">{{nouvelle.description}}</a>
  </li>
  <li *ngIf="global.nouvelles?.length == 0">
    <a class="grey-text">Aucune nouvelle notification</a>
  </li>

  <li class="divider"></li>
  <li><a (click)="logout()">
    <i class="material-icons">exit_to_app</i>Déconnexion</a>
  </li>
</ul>

<!--Trimestre selection-->
<ul id="trimestres" class="dropdown-content">
  <li *ngFor="let trimestre of global.trimestres">
    <a (click)="selectTrimestre(trimestre)">{{ trimestre.title }} (<b>{{ trimestre.value}}</b>)</a>
  </li>
</ul>

<nav id="navBar">
  <div class="nav-wrapper green">
    <!--Hamburger menu-->
    <a href="javascript:void(0)" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    <!--UdeS logo-->
    <a routerLink="/notes" class="brand-logo">
      <img class="logo material-icons" src="/assets/img/logo-udes.png">
    </a>

    <a routerLink="/notes">
      <!--Title-->
      <span class="brand-logo" *ngIf="global.user">
          Notes <span class="hide-on-small-only">de {{ global.user.fullName }}</span>
      </span>
    </a>

    <ul class="right" [class.dark]="useBlackIcon">
      <!--Trimestre selection dropdown-->
      <li *ngIf="global.selectedTrimestre">
        <a materialize="dropdown" class="dropdown-button sub-title" data-activates="trimestres" data-belowOrigin="true" data-alignment="right"
          data-constrainWidth="false">
          <span class="hide-on-small-only">{{ global.selectedTrimestre.title }}</span>
          <span class="hide-on-med-and-up">{{ global.selectedTrimestre.value }}</span>
        <i class="material-icons right">arrow_drop_down</i>
        </a>
      </li>
      <!--Search-->
      <li *ngIf="global.user && router.url.startsWith('/note')" [class.selected]="global.showSearchBar">
        <a (click)="toggleSearchBar()">
        <i class="material-icons">search</i>
        </a>
      </li>
      <!--Notifications Dropdown-->
      <li *ngIf="global.user" class="hide-on-med-and-down">
        <a materialize="dropdown" class="dropdown-button icon-badge" data-activates="notifs" data-belowOrigin="true" data-alignment="right"
          data-constrainWidth="false">
          <i class="material-icons">{{ global.nouvelles?.length > 0 ? 'notifications' : 'notifications_none' }}</i>
          <span class="notification-badge">{{ global.nouvelles?.length || '' }}</span>
        </a>
      </li>
      <!--Options-->
      <li *ngIf="global.user" class="hide-on-med-and-down">
        <a materialize="dropdown" class="dropdown-button" data-activates="params" data-belowOrigin="true" data-alignment="right"
          data-constrainWidth="false">
        <i class="material-icons">settings</i>
        </a>
      </li>
    </ul>
  </div>
</nav>