nav {
    .logo {
        vertical-align: middle;
        padding-bottom: 5px;
        height: 40px;
    }

    .sub-title {
        color: #f1ee6f;
        font-size: 1.2rem;
    }
    
    .brand-logo {
        margin-left: 1rem;
        position: inherit;
    }

    @media only screen and (max-width: 992px) {
        .brand-logo {
            margin-left: 0;
            left: 0;
            -webkit-transform: translateX(0);
            transform: translateX(0);
        }
    }
}

.userView > span {
    margin-top: 0;
}

li a.notification {
    line-height: 24px;
    padding-right: 10px;
    padding: 10px 10px 10px 32px;
}

.dark li a i {
    color: #444;
}

.truncateName {
    max-width: 38vw;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.nav-wrapper {
    display: flex;
    width: 100vw;
}

#nav-nom-utilisateur {
    flex: 1;
    order:1;
    min-width: calc(100% - 400px);
}

#nav-mobile-trimestres {
    flex: 1;
    order:2;
    max-width: 220px;
}

#nav-mobile-options {
    flex: 1;
    order:3;
    max-width: 120px;
}
