<ul id="notifs" class="dropdown-content">
  <li><a href="#!">Nouvelle note disponible pour <b>GEN502</b></a></li>
  <li><a href="#!">Nouvelle note disponible pour <b>GEN521</b></a></li>
</ul>

<ul id="params" class="dropdown-content">
  <li><a href="#!">Déconnexion</a></li>
  <li class="divider"></li>
  <li><a href="http://materializecss.com/" target="_blank">Materialize CSS</a></li>
</ul>

<nav>
  <div class="nav-wrapper green">
    <a [routerLink]="['/notes']">
    <img class="logo" src="https://www.usherbrooke.ca/res/fileadmin/logo/logo_udes-carre-couleur.png">
    <a class="brand-logo">Notes pour Bob Testeur</a>
    </a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li><a>Liste des notes</a></li>
      <li> 
        <a materialize="dropdown" class="dropdown-button" href="#!" data-activates="notifs" data-belowOrigin="true" data-alignment="right" data-constrainWidth="false">
        <i class="material-icons">notifications</i>
        </a>
      </li>
      <li>
        <a materialize="dropdown" class="dropdown-button" href="#!" data-activates="params" data-belowOrigin="true" data-alignment="right" data-constrainWidth="false">
        <i class="material-icons">settings</i>
        </a>
      </li>
    </ul>
  </div>
</nav>