/* You can add global styles to this file, and also import other style files */
$udes-green: #109a5d;

.green {
    background-color: $udes-green !important;
}

app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.preloader-wrapper {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}

body {
    min-width: 370px;
}

li {
    overflow: hidden;
}

i {
    display: inline-flex;
    vertical-align: middle;
}

.headerColor {
 background-color: #ededed !important;
 border-bottom: 1px solid #9e9e9e !important;
}