/* You can add global styles to this file, and also import other style files */
$udes-green: #109a5d;

.green {
    background-color: $udes-green !important;
}

app-root {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

span.new {
    color: red;
    font-size: 2rem;
    position: absolute;
    margin-left: 0.5rem;
}

#loading-app {
    position: absolute;
    top: 20%;
    left: 50%;
    margin-top: -32px;
    margin-left: -32px;
}

body {
    min-width: 350px;
}